<header class="navbar">
    <div class="left-section">
      <input type="text" placeholder="Search..." class="search-input" />
    </div>
    <div class="right-section">
      <i class="fas fa-bell notification-icon"></i>
  
      <div class="user-dropdown" (click)="toggleDropdown()">
        <div class="user-avatar-icon">
            <i class="fas fa-user-circle"></i>
          </div>
        
        <div class="dropdown" *ngIf="dropdownOpen">
          <a href="#">Profile</a>
          <a href="#">Logout</a>
        </div>
      </div>
    </div>
  </header>
  